:root {
  --mainColor: #90b3da;
  --secondaryColor: #9395dc;
  --accentColor: #be6f8d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

#navwrapper {
  display: flex;
  justify-content: center;
  background-color: var(--mainColor);
}

#navbar {
  display: flex;
  justify-content: space-around;
  width: 20%;
  padding: 15px;
  border-bottom: 1px solid var(--accentColor);
  border-radius: 1px;
}

/* unvisited link */
#navbar a:link {
  color: #000;
}

/* visited link */
#navbar a:visited {
  color: #000;
}

/* mouse over link */
#navbar a:hover {
  color: var(--accentColor);
}

/* selected link */
#navbar a:active {
  color: #000;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  background-color: var(--mainColor);
}

#projects {
  line-height: 2;
  padding: 10px;
  background-color: var(--secondaryColor);
}

#projects h3 {
  font-size: 200%;
  padding-left: 10px;
}

#projects img {
  width: 90%;
  padding: 10px;
  border-radius: 20px;
}

#projects img:hover {
  -moz-box-shadow: inset 0px 0px 40px 5px var(--accentColor);
  -webkit-box-shadow: inset 0px 0px 40px 5px var(--accentColor);
  box-shadow: inset 0px 0px 40px 5px var(--accentColor);
}

#projects a {
  text-decoration: none;
}

/* unvisited link */
#projects a:link {
  color: #000;
}

/* visited link */
#projects a:visited {
  color: #000;
}

/* mouse over link */
#projects a:hover {
  color: #000;
}

/* selected link */
#projects a:active {
  color: #000;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--secondaryColor);
}

#contact a:active {
  transform: scale(0.9);
}

.navlinks {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "project1 project2 project3";
}
.project1 {
  grid-area: project1;
}
.project2 {
  grid-area: project2;
}
.project3 {
  grid-area: project3;
}

.projcaption {
  text-align: center;
  background-color: var(--accentColor);
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  #navbar {
    width: 30%;
  }
}

@media screen and (max-width: 512px) {
  #projects h3 {
    font-size: 150%;
  }
}

@media screen and (max-width: 480px) {
  #navbar {
    width: 50%;
  }
}

@media screen and (max-width: 392px) {
  #projects h3 {
    font-size: 100%;
  }
}

@media screen and (max-width: 300px) {
  #navbar {
    width: 75%;
  }

  #projects h3 {
    font-size: 50%;
  }
}
