@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  background-color: #4cbfb5;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #518ac4;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #546ac7;
  height: 100px;
}

#contact a {
  text-decoration: none;
  color: #6457c9;
}

#navbar {
  background-color: #4faac2;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Oxygen", sans-serif;
  background-color: #4cbfb5;
}

h1 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

.navlinks {
  padding: 10px;
  color: #6457c9;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navlinks:hover {
  font-size: 1.2rem;
}

@media (min-width: 300px) {
  #navbar {
    display: block;
    padding: 15px;
    width: 100%;
    top: 0;
    padding-left: 150px;
  }
}

@media (min-width: 400px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 150px;
  }
}

@media (min-width: 450px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 200px;
  }
}

@media (min-width: 500px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 250px;
  }
}

@media (min-width: 600px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 350px;
  }
}

@media (min-width: 800px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 550px;
  }
}

@media (min-width: 1000px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 750px;
  }
}

@media (min-width: 1200px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 950px;
  }
  #welcome {
    width: 100%;
  }
  #projects {
    width: 100%;
  }
  #contact {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 1150px;
  }
}

@media (min-width: 1600px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 1350px;
  }
}

@media (min-width: 1800px) {
  #navbar {
    display: block;
    width: 100%;
    top: 0;
    padding-left: 1550px;
  }
}

@media (min-width: 1920px) {
  #navbar {
    display: block;
    position: fixed;
    width: 100%;
    padding: 15px;
    padding-left: 1600px;
    top: 0;
  }
}

#githubicon {
  height: 50px;
  width: auto;
  transition: transform 0.2s;
  margin: 0 auto;
}

#githubicon:hover {
  transform: scale(1.25);
}
